# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoint

# Data / models / outputs (keep folders, ignore contents)
data/*
!data/.gitkeep
models/*
!models/.gitkeep
outputs/*
!outputs/.gitkeep

# OS / editor
.DS_Store
